# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\serra\Desktop\3r de Carrera\2on Quadrimestre\CDiA\Projecte RMI\StudentClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
